<h2 class="galaxy-glitch">Index</h2>
<style>
.galaxy-glitch {
  position: relative;
  font-size: 48px;
  text-align: center;
  color: #fff;
}
.galaxy-glitch::before,
.galaxy-glitch::after {
  content: 'Index';
  position: absolute;
  left: 0;
  color: #fff;
}
.galaxy-glitch::before {
  color: #0ff;
  animation: glitchA 1s infinite;
}
.galaxy-glitch::after {
  color: #f0f;
  animation: glitchB 1s infinite;
}
@keyframes glitchA {
  0% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 1px); }
}
@keyframes glitchB {
  0% { transform: translate(2px, -1px); }
  100% { transform: translate(-2px, 1px); }
}
</style>


<p class="cs-info">
  <code>df = pd.read_csv(r"data\World population.csv", dtype={'Rank': 'Int64'})</code><br>
  Tento příkaz načte CSV soubor s názvem <code>World population.csv</code> z adresáře <code>data</code> a uloží jej do proměnné <code>df</code> jako objekt <code>DataFrame</code>.
</p>

<p class="cs-info">
  Parametr <code>dtype={'Rank': 'Int64'}</code> říká, že sloupec <strong>'Rank'</strong> má být načten jako celočíselný typ <code>Int64</code> od knihovny Pandas. 
  Tento typ na rozdíl od běžného <code>int</code> podporuje i chybějící hodnoty (<code>NaN</code>).
</p>

<p class="cs-info">
  Použití typu <code>Int64</code> je užitečné např. při hodnocení nebo řazení, kde některé hodnoty mohou chybět.
</p>

In [4]:
import pandas as pd
df = pd.read_csv(r"data\World population.csv", dtype={'Rank': 'Int64'})  # Nacti CSV soubor do DataFrame, specifikuj typ pro sloupec 'Rank'
df

,Rank,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,216,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,...,"3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,130,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,...,"71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,108,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,...,"78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,90,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,...,"259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,44,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,...,"497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,210,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,...,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,<NA>,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,...,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,210,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,...,"37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,210,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,...,"8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,169,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,...,"26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [7]:
print([i for i in df.index if i != i.strip()]) # Kontrola !!! Vypíše seznam indexů, které mají mezery na začátku nebo konci

AttributeError: 'int' object has no attribute 'strip'

In [8]:
df.index = df.index.str.strip()  # Odstraní mezery na začátku a konci indexu
print([i for i in df.index if i != i.strip()])  # mělo by vrátit prázdný seznam

AttributeError: Can only use .str accessor with string values!

In [9]:
df = pd.read_csv(r"data\World population.csv", index_col="Country") # Nacti CSV soubor do DataFrame a nastav sloupec 'Country' jako index
df

,Rank,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,,
Afghanistan,216.0,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,130.0,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,108.0,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
American Samoa,90.0,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
Andorra,44.0,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,210.0,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
Western Sahara,NaN,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
Yemen,210.0,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
Zambia,210.0,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
Zimbabwe,169.0,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [10]:
df.reset_index(inplace=True)  # Obnov index DataFrame
df

,Country,Rank,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,216.0,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,...,"3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,130.0,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,...,"71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,108.0,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,...,"78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,90.0,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,...,"259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,44.0,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,...,"497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,210.0,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,...,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NaN,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,...,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,210.0,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,...,"37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,210.0,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,...,"8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,169.0,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,...,"26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [11]:
df.set_index('Country', inplace=True)  # Nastav sloupec 'Country' jako index DataFrame
df

,Rank,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,,
Afghanistan,216.0,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,130.0,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,108.0,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
American Samoa,90.0,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
Andorra,44.0,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,210.0,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
Western Sahara,NaN,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
Yemen,210.0,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
Zambia,210.0,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
Zimbabwe,169.0,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [35]:
df.loc['Algeria'] # Vyber řádek s indexem 'Algeria ' (s mezerou na konci)

KeyError: 'Algeria'

In [13]:
df.iloc[2] # Vyber třetí řádek DataFrame pomocí indexu (stejne jako pred tim , pomoci nazvu indexu)

Rank                                                                108.0
Region                                NORTHERN AFRICA
Population                                                       32930091
Area (sq. mi.)                                                    2381740
Pop. Density (per sq. mi.)                                           13,8
Coastline (coast/area ratio)                                         0,04
Net migration                                                       -0,39
Infant mortality (per 1000 births)                                     31
GDP ($ per capita)                                                 6000.0
Literacy (%)                                                         70,0
Phones (per 1000)                                                    78,1
Arable (%)                                                           3,22
Crops (%)                                                            0,25
Other (%)                                                           96,53
Climate                                                                 1
Birthrate                                                           17,14
Deathrate                                                            4,61
Agriculture                                                         0,101
Industry                                                              0,6
Service                                                             0,298
Name: Algeria , dtype: object

In [14]:
df.reset_index(inplace=True)  # Resetni index DataFrame
df

,Country,Rank,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,216.0,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,...,"3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,130.0,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,...,"71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,108.0,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,...,"78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,90.0,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,...,"259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,44.0,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,...,"497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,210.0,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,...,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NaN,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,...,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,210.0,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,...,"37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,210.0,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,...,"8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,169.0,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,...,"26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [32]:
print(df.columns.tolist()) # Vypíše seznam názvů sloupců DataFrame

['Rank', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)', 'Net migration', 'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture', 'Industry', 'Service']

In [33]:
print(df.index.names) # Vypíše názvy indexů DataFrame

['Region', 'Country']

In [34]:
df.set_index(['Region', 'Country'], inplace=True)  # Nastav víceúrovňový index pomocí sloupců 'Region' a 'Country'

KeyError: "None of ['Region', 'Country'] are in the columns"

In [18]:
df

                                                      Rank  Population  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan      216.0    31056997
EASTERN EUROPE                      Albania          130.0     3581655
NORTHERN AFRICA                     Algeria          108.0    32930091
OCEANIA                             American Samoa    90.0       57794
WESTERN EUROPE                      Andorra           44.0       71201
...                                                    ...         ...
NEAR EAST                           West Bank        210.0     2460492
NORTHERN AFRICA                     Western Sahara     NaN      273008
NEAR EAST                           Yemen            210.0    21456188
SUB-SAHARAN AFRICA                  Zambia           210.0    11502010
                                    Zimbabwe         169.0    12236805

                                                     Area (sq. mi.)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan              647500
EASTERN EUROPE                      Albania                   28748
NORTHERN AFRICA                     Algeria                 2381740
OCEANIA                             American Samoa              199
WESTERN EUROPE                      Andorra                     468
...                                                             ...
NEAR EAST                           West Bank                  5860
NORTHERN AFRICA                     Western Sahara           266000
NEAR EAST                           Yemen                    527970
SUB-SAHARAN AFRICA                  Zambia                   752614
                                    Zimbabwe                 390580

                                                    Pop. Density (per sq. mi.)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan                           48,0
EASTERN EUROPE                      Albania                              124,6
NORTHERN AFRICA                     Algeria                               13,8
OCEANIA                             American Samoa                       290,4
WESTERN EUROPE                      Andorra                              152,1
...                                                                        ...
NEAR EAST                           West Bank                            419,9
NORTHERN AFRICA                     Western Sahara                         1,0
NEAR EAST                           Yemen                                 40,6
SUB-SAHARAN AFRICA                  Zambia                                15,3
                                    Zimbabwe                              31,3

                                                    Coastline (coast/area ratio)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan                             0,00
EASTERN EUROPE                      Albania                                 1,26
NORTHERN AFRICA                     Algeria                                 0,04
OCEANIA                             American Samoa                         58,29
WESTERN EUROPE                      Andorra                                 0,00
...                                                                          ...
NEAR EAST                           West Bank                               0,00
NORTHERN AFRICA                     Western Sahara                          0,42
NEAR EAST                           Yemen                                   0,36
SUB-SAHARAN AFRICA                  Zambia                                  0,00
                                    Zimbabwe                                0,00

                                                    Net migration  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan             23,06
EASTERN EUROPE                      Albania                 -4,93
NORTHERN AFRICA                     Algeria                 -0,39
OCEANIA                             American Samoa         -20,71
WESTERN EUROPE                      Andorra                   6,6
...                                                           ...
NEAR EAST                           West Bank                2,98
NORTHERN AFRICA                     Western Sahara            NaN
NEAR EAST                           Yemen                       0
SUB-SAHARAN AFRICA                  Zambia                      0
                                    Zimbabwe                    0

                                                    Infant mortality (per 1000 births)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan                                 163,07
EASTERN EUROPE                      Albania                                      21,52
NORTHERN AFRICA                     Algeria                                         31
OCEANIA                             American Samoa                                9,27
WESTERN EUROPE                      Andorra                                       4,05
...                                                                                ...
NEAR EAST                           West Bank                                    19,62
NORTHERN AFRICA                     Western Sahara                                 NaN
NEAR EAST                           Yemen                                         61,5
SUB-SAHARAN AFRICA                  Zambia                                       88,29
                                    Zimbabwe                                     67,69

                                                     GDP ($ per capita)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan                   700.0
EASTERN EUROPE                      Albania                      4500.0
NORTHERN AFRICA                     Algeria                      6000.0
OCEANIA                             American Samoa               8000.0
WESTERN EUROPE                      Andorra                     19000.0
...                                                                 ...
NEAR EAST                           West Bank                     800.0
NORTHERN AFRICA                     Western Sahara                  NaN
NEAR EAST                           Yemen                         800.0
SUB-SAHARAN AFRICA                  Zambia                        800.0
                                    Zimbabwe                     1900.0

                                                    Literacy (%)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan             36,0
EASTERN EUROPE                      Albania                 86,5
NORTHERN AFRICA                     Algeria                 70,0
OCEANIA                             American Samoa          97,0
WESTERN EUROPE                      Andorra                100,0
...                                                          ...
NEAR EAST                           West Bank                NaN
NORTHERN AFRICA                     Western Sahara           NaN
NEAR EAST                           Yemen                   50,2
SUB-SAHARAN AFRICA                  Zambia                  80,6
                                    Zimbabwe                90,7

                                                    Phones (per 1000)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan                   3,2
EASTERN EUROPE                      Albania                      71,2
NORTHERN AFRICA                     Algeria                      78,1
OCEANIA                             American Samoa              259,5
WESTERN EUROPE                      Andorra                     497,2
...                                                               ...
NEAR EAST                           West Bank                   145,2
NORTHERN AFRICA                     Western Sahara                NaN
NEAR EAST                           Yemen                        37,2
SUB-SAHARAN AFRICA                  Zambia                        8,2
                                    Zimbabwe                     26,8

                                                    Arable (%) Crops (%)  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan          12,13      0,22
EASTERN EUROPE                      Albania              21,09      4,42
NORTHERN AFRICA                     Algeria               3,22      0,25
OCEANIA                             American Samoa          10        15
WESTERN EUROPE                      Andorra               2,22         0
...                                                        ...       ...
NEAR EAST                           West Bank             16,9     18,97
NORTHERN AFRICA                     Western Sahara        0,02         0
NEAR EAST                           Yemen                 2,78      0,24
SUB-SAHARAN AFRICA                  Zambia                7,08      0,03
                                    Zimbabwe              8,32      0,34

                                                    Other (%) Climate  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan         87,65       1
EASTERN EUROPE                      Albania             74,49       3
NORTHERN AFRICA                     Algeria             96,53       1
OCEANIA                             American Samoa         75       2
WESTERN EUROPE                      Andorra             97,78       3
...                                                       ...     ...
NEAR EAST                           West Bank           64,13       3
NORTHERN AFRICA                     Western Sahara      99,98       1
NEAR EAST                           Yemen               96,98       1
SUB-SAHARAN AFRICA                  Zambia               92,9       2
                                    Zimbabwe            91,34       2

                                                    Birthrate Deathrate  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan          46,6     20,34
EASTERN EUROPE                      Albania             15,11      5,22
NORTHERN AFRICA                     Algeria             17,14      4,61
OCEANIA                             American Samoa      22,46      3,27
WESTERN EUROPE                      Andorra              8,71      6,25
...                                                       ...       ...
NEAR EAST                           West Bank           31,67      3,92
NORTHERN AFRICA                     Western Sahara        NaN       NaN
NEAR EAST                           Yemen               42,89       8,3
SUB-SAHARAN AFRICA                  Zambia                 41     19,93
                                    Zimbabwe            28,01     21,84

                                                    Agriculture Industry  \
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan            0,38     0,24
EASTERN EUROPE                      Albania               0,232    0,188
NORTHERN AFRICA                     Algeria               0,101      0,6
OCEANIA                             American Samoa          NaN      NaN
WESTERN EUROPE                      Andorra                 NaN      NaN
...                                                         ...      ...
NEAR EAST                           West Bank              0,09     0,28
NORTHERN AFRICA                     Western Sahara          NaN      NaN
NEAR EAST                           Yemen                 0,135    0,472
SUB-SAHARAN AFRICA                  Zambia                 0,22     0,29
                                    Zimbabwe              0,179    0,243

                                                    Service
Region                              Country
ASIA (EX. NEAR EAST)                Afghanistan        0,38
EASTERN EUROPE                      Albania           0,579
NORTHERN AFRICA                     Algeria           0,298
OCEANIA                             American Samoa      NaN
WESTERN EUROPE                      Andorra             NaN
...                                                     ...
NEAR EAST                           West Bank          0,63
NORTHERN AFRICA                     Western Sahara      0,4
NEAR EAST                           Yemen             0,393
SUB-SAHARAN AFRICA                  Zambia            0,489
                                    Zimbabwe          0,579

[227 rows x 19 columns]

In [30]:
df.sort_index() # Seřadí DataFrame podle indexu

                                                        Rank  Population  \
Region               Country
ASIA (EX. NEAR EAST) Afghanistan                       216.0    31056997
                     Bangladesh                        169.0   147365352
                     Bhutan                            192.0     2279723
                     Brunei                             46.0      379444
                     Burma                             174.0    47382633
                     Cambodia                          169.0    13881427
                     China                             120.0  1313973713
                     East Timor                        225.0     1062777
                     Hong Kong                          15.0     6940432
                     India                             150.0  1095351995
                     Indonesia                         146.0   245452739
                     Iran                               96.0    68688433
                     Japan                              17.0   127463611
                     Korea, North                      192.0    23113019
                     Korea, South                       48.0    48846823
                     Laos                              178.0     6368481
                     Macau                              41.0      453125
                     Malaysia                           82.0    24385858
                     Maldives                          138.0      359008
                     Mongolia                          174.0     2832224
                     Nepal                             188.0    28287147
                     Pakistan                          164.0   165803560
                     Philippines                       129.0    89468677
                     Singapore                          28.0     4492150
                     Sri Lanka                         140.0    20222240
                     Taiwan                             29.0    23036087
                     Thailand                           94.0    64631595
                     Vietnam                           156.0    84402966
BALTICS              Estonia                            66.0     1324333
                     Latvia                             76.0     2274735
                     Lithuania                          69.0     3585906
C.W. OF IND. STATES  Armenia                           141.0     2976372
                     Azerbaijan                        142.0     7961619
                     Belarus                           106.0    10293011
                     Georgia                           156.0     4661473
                     Kazakhstan                        104.0    15233244
                     Kyrgyzstan                        182.0     5213898
                     Moldova                           174.0     4466706
                     Russia                             85.0   142893540
                     Tajikistan                        203.0     7320815
                     Turkmenistan                      111.0     5042920
                     Ukraine                           116.0    46710816
                     Uzbekistan                        178.0    27307134
EASTERN EUROPE       Albania                           130.0     3581655
                     Bosnia & Herzegovina              106.0     4498976
                     Bulgaria                           92.0     7385367
                     Croatia                            75.0     4494749
                     Czech Republic                     58.0    10235455
                     Hungary                            61.0     9981334
                     Macedonia                         100.0     2050554
                     Poland                             72.0    38536869
                     Romania                            96.0    22303552
                     Serbia                            162.0     9396411
                     Slovakia                           62.0     5439448
                     Slovenia                           44.0     2010347
LATIN AMER. & CARIB  Anguilla                           87.0       13477
                     Antigua & Barbuda                  73.0       69108
                     Argentina                          71.0    39921833
                     Aruba                              18.0       71891
                     Bahamas, The                       55.0      303770
                     Barbados                           58.0      279912
                     Belize                            124.0      287730
                     Bolivia                           158.0     8989046
                     Brazil                             92.0   188078227
                     British Virgin Is.                 56.0       23098
                     Cayman Islands                      5.0       45436
                     Chile                              77.0    16134219
                     Colombia                          104.0    43593035
                     Costa Rica                         80.0     4075261
                     Cuba                              150.0    11382820
                     Dominica                          116.0       68910
                     Dominican Republic                108.0     9183984
                     Ecuador                           144.0    13547510
                     El Salvador                       126.0     6822378
                     French Guiana                      88.0      199509
                     Grenada                           120.0       89703
                     Guadeloupe                         90.0      452776
                     Guatemala                         132.0    12293545
                     Guyana                            134.0      767245
                     Haiti                             182.0     8308504
                     Honduras                          154.0     7326496
                     Jamaica                           138.0     2758124
                     Martinique                         60.0      436131
                     Mexico                             82.0   107449525
                     Montserrat                        142.0        9439
                     Netherlands Antilles               69.0      221736
                     Nicaragua                         159.0     5570129
                     Panama                            104.0     3191319
                     Paraguay                          128.0     6506464
                     Peru                              118.0    28302603
                     Puerto Rico                        54.0     3927188
                     Saint Kitts & Nevis                86.0       39129
                     Saint Lucia                       116.0      168458
                     Saint Vincent and the Grenadines  150.0      117848
                     Suriname                          134.0      439117
                     Trinidad & Tobago                  79.0     1065842
                     Turks & Caicos Is                  78.0       21152
                     Uruguay                            64.0     3431932
                     Venezuela                         126.0    25730435
                     Virgin Islands                     52.0      108605
NEAR EAST            Bahrain                            53.0      698585
                     Cyprus                             42.0      784301
                     Gaza Strip                        222.0     1428757
                     Iraq                              186.0    26783383
                     Israel                             40.0     6352117
                     Jordan                            131.0     5906760
                     Kuwait                             44.0     2418393
                     Lebanon                           126.0     3874050
                     Oman                               63.0     3102229
                     Qatar                              34.0      885359
                     Saudi Arabia                       67.0    27019731
                     Syria                             144.0    18881361
                     Turkey                            100.0    70413958
                     United Arab Emirates               30.0     2602713
                     West Bank                         210.0     2460492
                     Yemen                             210.0    21456188
NORTHERN AFRICA      Algeria                           108.0    32930091
                     Egypt                             134.0    78887007
                     Libya                             102.0     5900754
                     Morocco                           134.0    33241259
                     Tunisia                            98.0    10175014
                     Western Sahara                      NaN      273008
NORTHERN AMERICA     Bermuda                             4.0       65773
                     Canada                             11.0    33098932
                     Greenland                          38.0       56361
                     St Pierre & Miquelon               98.0        7026
                     United States                       2.0   298444215
OCEANIA              American Samoa                     90.0       57794
                     Australia                          14.0    20264082
                     Cook Islands                      120.0       21388
                     Fiji                              111.0      905949
                     French Polynesia                   50.0      274578
                     Guam                               36.0      171019
                     Kiribati                          210.0      105432
                     Marshall Islands                  182.0       60422
                     Micronesia, Fed. St.              166.0      108004
                     N. Mariana Islands                 65.0       82459
                     Nauru                             120.0       13287
                     New Caledonia                      59.0      219246
                     New Zealand                        33.0     4076140
                     Palau                              82.0       20579
                     Papua New Guinea                  162.0     5670544
                     Samoa                             113.0      176908
                     Solomon Islands                   178.0      552438
                     Tonga                             162.0      114689
                     Tuvalu                            200.0       11810
                     Vanuatu                           150.0      208869
                     Wallis and Futuna                 140.0       16025
SUB-SAHARAN AFRICA   Angola                            169.0    12127071
                     Benin                             200.0     7862944
                     Botswana                           82.0     1639833
                     Burkina Faso                      200.0    13902972
                     Burundi                           222.0     8090068
                     Cameroon                          174.0    17340702
                     Cape Verde                        188.0      420979
                     Central African Rep.              200.0     4303356
                     Chad                              196.0     9944201
                     Comoros                           216.0      690948
                     Congo, Dem. Rep.                  216.0    62660551
                     Congo, Repub. of the              216.0     3702314
                     Cote d'Ivoire                     188.0    17654843
                     Djibouti                          192.0      486530
                     Equatorial Guinea                 152.0      540109
                     Eritrea                           216.0     4786994
                     Ethiopia                          216.0    74777981
                     Gabon                             114.0     1424906
                     Gambia, The                       178.0     1641564
                     Ghana                             162.0    22409572
                     Guinea                            164.0     9690222
                     Guinea-Bissau                     210.0     1442029
                     Kenya                             203.0    34707817
                     Lesotho                           147.0     2022331
                     Liberia                           203.0     3042004
                     Madagascar                        210.0    18595469
                     Malawi                            222.0    13013926
                     Mali                              206.0    11716829
                     Mauritania                        174.0     3177388
                     Mauritius                          69.0     1240827
                     Mayotte                           154.0      201234
                     Mozambique                        196.0    19686505
                     Namibia                            95.0     2044147
                     Niger                             210.0    12525094
                     Nigeria                           206.0   131859731
                     Reunion                           111.0      787584
                     Rwanda                            192.0     8648248
                     Saint Helena                      156.0        7502
                     Sao Tome & Principe               196.0      193413
                     Senegal                           182.0    11987121
                     Seychelles                         91.0       81541
                     Sierra Leone                      225.0     6005250
                     Somalia                           225.0     8863338
                     South Africa                       74.0    44187637
                     Sudan                             169.0    41236378
                     Swaziland                         124.0     1136334
                     Tanzania                          222.0    37445392
                     Togo                              186.0     5548702
                     Uganda                            188.0    28195754
                     Zambia                            210.0    11502010
                     Zimbabwe                          169.0    12236805
WESTERN EUROPE       Andorra                            44.0       71201
                     Austria                            10.0     8192880
                     Belgium                            13.0    10379067
                     Denmark                             8.0     5450661
                     Faroe Islands                      32.0       47246
                     Finland                            22.0     5231372
                     France                             20.0    60876136
                     Germany                            20.0    82422299
                     Gibraltar                          50.0       27928
                     Greece                             38.0    10688058
                     Guernsey                           38.0       65409
                     Iceland                             9.0      299388
                     Ireland                            12.0     4062235
                     Isle of Man                        36.0       75441
                     Italy                              25.0    58133509
                     Jersey                             27.0       91084
                     Liechtenstein                      26.0       33987
                     Luxembourg                          1.0      474413
                     Malta                              49.0      400214
                     Monaco                             23.0       32543
                     Netherlands                        16.0    16491461
                     Norway                              2.0     4610820
                     Portugal                           47.0    10605870
                     San Marino                          6.0       29251
                     Spain                              32.0    40397842
                     Sweden                             24.0     9016596
                     Switzerland                         7.0     7523934
                     United Kingdom                     19.0    60609153

                                                       Area (sq. mi.)  \
Region               Country
ASIA (EX. NEAR EAST) Afghanistan                               647500
                     Bangladesh                                144000
                     Bhutan                                     47000
                     Brunei                                      5770
                     Burma                                     678500
                     Cambodia                                  181040
                     China                                    9596960
                     East Timor                                 15007
                     Hong Kong                                   1092
                     India                                    3287590
                     Indonesia                                1919440
                     Iran                                     1648000
                     Japan                                     377835
                     Korea, North                              120540
                     Korea, South                               98480
                     Laos                                      236800
                     Macau                                         28
                     Malaysia                                  329750
                     Maldives                                     300
                     Mongolia                                 1564116
                     Nepal                                     147181
                     Pakistan                                  803940
                     Philippines                               300000
                     Singapore                                    693
                     Sri Lanka                                  65610
                     Taiwan                                     35980
                     Thailand                                  514000
                     Vietnam                                   329560
BALTICS              Estonia                                    45226
                     Latvia                                     64589
                     Lithuania                                  65200
C.W. OF IND. STATES  Armenia                                    29800
                     Azerbaijan                                 86600
                     Belarus                                   207600
                     Georgia                                    69700
                     Kazakhstan                               2717300
                     Kyrgyzstan                                198500
                     Moldova                                    33843
                     Russia                                  17075200
                     Tajikistan                                143100
                     Turkmenistan                              488100
                     Ukraine                                   603700
                     Uzbekistan                                447400
EASTERN EUROPE       Albania                                    28748
                     Bosnia & Herzegovina                       51129
                     Bulgaria                                  110910

In [29]:
pd.set_option('display.max_rows', None)  # Nastaví zobrazení všech řádků DataFrame (pokud je to možné) a pustit pak tenhle kod  df.sort_index() # Seřadí DataFrame podle indexu

In [28]:
df.loc['Norway']  #Bude hlasit chybu

KeyError: 'Norway'

In [27]:
df.loc['WESTERN EUROPE', 'Norway']  # Vybere řádek s indexem 'WESTERN EUROPE' a sloupec 'Norway'  
#df.loc['WESTERN EUROPE', 'Norway'] nebude fungovat pokud jsi dříve nastavil index takto:  df.set_index(['Region', 'Country'], inplace=True)

df.loc[('WESTERN EUROPE', 'Norway')]  # spravne v tomto pripade, pokud jsi nastavil index jako multiindex

Rank                                      2.0
Population                            4610820
Area (sq. mi.)                         323802
Pop. Density (per sq. mi.)               14,2
Coastline (coast/area ratio)             7,77
Net migration                            1,74
Infant mortality (per 1000 births)        3,7
GDP ($ per capita)                    37800.0
Literacy (%)                            100,0
Phones (per 1000)                       461,7
Arable (%)                               2,87
Crops (%)                                   0
Other (%)                               97,13
Climate                                     3
Birthrate                               11,46
Deathrate                                 9,4
Agriculture                             0,021
Industry                                0,415
Service                                 0,564
Name: (WESTERN EUROPE, Norway), dtype: object

<p class="cs-info">
  Tento příkaz upravuje <strong>víceúrovňový index (MultiIndex)</strong> v objektu <code>df</code>.
  Pomocí <code>set_levels()</code> odstraní mezery na začátku a konci každé hodnoty v jednotlivých úrovních indexu.
</p>

<p class="cs-info">
  Konkrétně volá metodu <code>str.strip()</code> pro každou úroveň indexu v <code>df.index.levels</code>, čímž se zajistí, že všechny hodnoty indexu budou čisté, bez nechtěných mezer.
</p>

<p class="cs-info">
  Výsledkem je konzistentní a přesnější práce s daty, protože hodnoty v indexu nebudou obsahovat bílé znaky, které by mohly způsobit chyby při filtrování, spojování nebo seskupování dat.
</p>

In [22]:
df.index = df.index.set_levels([level.str.strip() for level in df.index.levels]) # Odstraní mezery na začátku a konci indexu v MultiIndex

In [23]:
# Ověříme, jestli tam je požadovaný záznam
print([i for i in df.index if 'Norway' in i])

[('WESTERN EUROPE', 'Norway')]

In [24]:
df.loc[('WESTERN EUROPE', 'Norway')]

Rank                                      2.0
Population                            4610820
Area (sq. mi.)                         323802
Pop. Density (per sq. mi.)               14,2
Coastline (coast/area ratio)             7,77
Net migration                            1,74
Infant mortality (per 1000 births)        3,7
GDP ($ per capita)                    37800.0
Literacy (%)                            100,0
Phones (per 1000)                       461,7
Arable (%)                               2,87
Crops (%)                                   0
Other (%)                               97,13
Climate                                     3
Birthrate                               11,46
Deathrate                                 9,4
Agriculture                             0,021
Industry                                0,415
Service                                 0,564
Name: (WESTERN EUROPE, Norway), dtype: object

In [25]:
print(df.iloc[2:3].index) # kontrola, že vybere správný index v multiindexu(co je na tojto řádku)

MultiIndex([('NORTHERN AFRICA', 'Algeria')],
           names=['Region', 'Country'])

In [26]:
df.iloc[2:3]  # vybere řádek s indexem 2 (třetí řádek) DataFrame v multiindexu

,,Rank,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Region,Country,,,,,,,,,,,,,,,,,,,
NORTHERN AFRICA,Algeria,108.0,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"